<div class="container">
  <div class="row">
      <div class="col-12">
          <form [formGroup]="categoriesForm" (ngSubmit)="onSubmit()">
              <div class="row">
                  <div class="col-12 form-group">
                      <label for="name">NAME:</label>
                      <input type="text" id="categoryName" class="form-control"
                      formControlName="name">
                  </div>
              </div>

              <div class="row">
                  <div class="col-12 form-group">
                      <label for="description">DESCRIPTION :</label>
                      <input type="text" id="description" class="form-control"
                      formControlName="description">
                  </div>
              </div>

              <div class="row">
                  <div class="col-12 form-group">
                      <button type="submit" class="btn btn-success">SAVE</button>
                      <button type="button" class="btn btn-danger"  (click)="onCancel()">CANCEL</button>
                  </div>
              </div>
          </form>

      </div>
  </div>
  </div>
